task004_consolidated.pdf
task001_consolidated.pdf
Experiment_design.pdf
task003_consolidated.pdf
task002_consolidated.pdf
tSNR_variation.pdf
0_across_subjects_across_task.pdf
voxel_range_across_subjects_across_task.pdf
power_spectrum_0mm.pdf
power_spectrum_10mm.pdf
power_spectrum_5mm.pdf
task003_resample_consolidated.pdf
task001_resample_consolidated.pdf
task004_resample_consolidated.pdf
task002_resample_consolidated.pdf
5_8_FWHM.pdf
9_12_FWHM.pdf
unfiltered.pdf
venous_voxels.pdf
tSNR_vs_accuracy.pdf
resample_consolidated.pdf
signal_change.pdf
euclidean_distance.pdf
anatomical_euclidean_distance.pdf
veins_threshold_combined.pdf
figure_4.pdf
figure_3.pdf
figure_2.pdf
figure_1.pdf
figure_7.pdf
figure_6.pdf
figure_5.pdf
graphical_abstract.pdf
supplementary_figure_3.pdf
supplementary_figure_4.pdf
supplementary_figure_1.pdf
supplementary_figure_2.pdf
supplementary_figure_5.pdf
